.global-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--global-color-container);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 9999;

  &__loading {
    margin-top: 40px;
    font-size: 18px;
    width: 250px;
    background-color: var(--global-color);
    text-align: center;
    padding: 8px 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
  }
  &__data {
    margin-top: 10px;
    font-size: 18px;
    width: 250px;
    background-color: var(--global-color);
    text-align: center;
    padding: 8px 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
  }
}
.global-loader.none {
  background: rgba(72, 122, 180, .0);
}
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}