%foo {}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.offers-profil { 
  margin: 30px 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @extend %foo;
  @include reset-list;
  section {
    margin: 40px 14px 0;
    border: 1px solid rgb(209,209,209);
    background-color: #fff;
    width: 300px;
  }
  
  .btn-info {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    font-size: var(--global-l-size-nav);
    margin: 10px 0 20px;
    svg {
      font-size: 28px;
      margin-right: 6px;
      margin-bottom: 3px;
    }
  }
  .btn-info:hover {
    text-decoration: underline;
    background-color: #fff;

  }

  @media(min-width: 500px) {
    section {
      width: 400px;
    }
    .btn-info {
      font-size: var(--global-xl-size-nav);
    }
  }
}