.container-history {
  padding: 30px;
  border: 1px solid var(--global-color)
}

.history {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  
  .search {
    width: 300px;
  }
}

.no-data {
  padding: 15px;
}

.btn-pdf {
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  background-color: var(--global-color-button);
  border: 1px solid gray;
  border-radius: 15px;
}

.btn-pdf:hover {
  cursor: pointer;
  transition: .5s;
  background-color: var(--global-color-top-nav);
}