.container-history {
  padding: 30px;
  border: 1px solid var(--global-color)
}

.history {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  
  .search {
    width: 300px;
    // background-color: rgb(206, 206, 206);
    // border: 1px solid black;
  }
}

.no-data {
  padding: 15px;
}

.btn-pdf {
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  background-color: #23a5be;
  border: 1px solid gray;
  border-radius: 15px;
}