@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,600;1,200&display=swap');

:root {
  --global-color-container: #f1f1f1;
  // --global-color: #23a5be;
  --global-color: #0d5eaf;
  --global-color-top-nav:  #083e74;
  --global-color-button: #1976d2;
  --global-width-navbar: 1000px;
  --global-xl-size-nav: 16px;
  --global-l-size-nav: 12px;
  --global-s-size-nav: 10px;
  --global-screen-xl: 1400px;
  --global-screen-l: 1200px;
  --global-screen-s: 500px;
}

body {
  font-family: 'Bitter', serif;
  margin: 0px;
}

#root {
  background-color: var(--global-color-container);
  min-height: 100vh;
}


.btn-login {
  display: block;
  color: white;
  background-color: var(--global-color);
  border: 1px solid var(--global-color);
  border-radius: 20px;
  padding: 8px 30px;
  margin: 20px auto;
  cursor: pointer;
  transition: .2s ease-in-out;
  font-size: 16px;
}

input:focus {
  outline: 2px solid orange;
}